<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<footer class="footer" th:fragment="footer">
    <div class="footer-content-top">
        <div class="footer-about-us">
            <p><strong>Về chúng tôi</strong></p>
            <p>Giới thiệu công ty</p>
            <p>Tuyển dụng</p>
            <p>Chính sách bảo mật</p>
        </div>
        <div class="footer-menu">
            <p><strong>Danh mục</strong></p>
            <p><a href="#">Rau củ sạch</a></p>
            <p><a href="#">Trái cây tươi</a></p>
            <p><a href="#">Gói combo</a></p>
        </div>
        <div class="footer-support-customer">
            <p><strong>Hỗ trợ khách hàng</strong></p>
            <p>Hướng dẫn mua hàng</p>
            <p>Chính sách đổi trả</p>
            <p>Phương thức thanh toán</p>
        </div>
        <div class="footer-follow-us">
            <p><strong>Theo dõi chúng tôi</strong></p>
            <p><a href="#">Facebook</a></p>
            <p><a href="#">Github</a></p>
        </div>
    </div>
    <div class="footer-content-bottom">
        <div class="footer-company">
            <p>
                <strong>Công Ty Cổ Phần Nông sản Sạch</strong><br />
                Trụ sở: Lô E2a-7, Đường D1, Khu Công nghệ cao, Long Thạnh Mỹ, Thành phố Thủ Đức, TP.HCM<br />
                Điện thoại: 1900-1234 - Email: cskh@nongsansach.vn
            </p>
        </div>
        <div>
            <p>
                GCNDKDN: 0311770883 do sở KH & ĐT TP.HCM cấp ngày 05/05/2012<br />
                © 2025 Bản quyền thuộc về Nông Sản Sạch.
            </p>
        </div>
    </div>
</footer>

</body>
</html>